/**
 * Return percentage of given target/context ratio for responsive bliss
 * E.g. width: ratio(1, 3) => width: 33.333333%
 */
ratio(target, context)
  value = (target / context * 100)%
  floor(value * 1000000) / 1000000 // limit decimals to 6
