/**
 * Return `width` and `height` of a given size
 */
size(w, h = null)
  if h
    width: w; height: h
  else
    width: w; height: w

/**
 * Return given `font-size` in `px` and `rem` if no unit is specified
 */
font-size(fs)
  if unit(fs) is '' and fs isnt 0
    fsrem = fs / 10
    font-size: fs px
    font-size: fsrem rem
  else
    font-size: fs
