/**
 * Return `width` and `height` of a given size
 */
size(w, h = null, i = null)
  if h is '!important'
    i = h
    h = null

  if h
    width: w i; height: h i
  else
    width: w i; height: w i

/**
 * Return given `font-size` in `px` and `rem` if no unit is specified
 */
font-size(fs, i = null)
  if unit(fs) is '' and fs isnt 0
    fsrem = fs / 10
    font-size: (fs px) i
    font-size: (fsrem rem) i
  else
    font-size: (fs) i

/**
 * Override `display` for adding `inline-block` IE hack
 */
display(value, i = null)
  if value is 'inline-block'
    display: inline-block i
    *display: inline i
    *zoom: 1 i
  else
    display: value i

/**
 * Override `overflow` for adding `scroll` iOS support
 */
overflow(value, i = null)
  if value is 'scroll'
    overflow: scroll i
    -webkit-overflow-scrolling: touch i
  else
    overflow: value i
