// Reset ---------------------------------------------------------------------
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block }
fieldset, input, select, button, textarea, figure { margin: 0; font-size: 100%; max-width: 100% }
fieldset, legend, a img { padding: 0; border: 0 }
time { display: inline }
body { margin: 0 }
a { text-decoration: none }
@-moz-document url-prefix() { a:active { outline: 0 } }
[tabindex]:not(a) { outline: 0 }
ul { padding: 0 }
h1, h2, h3, h4 { text-rendering: optimizeLegibility }
// CSS for <sub> and <sup> https://gist.github.com/413930
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
address { font-style: normal }

// Utils ---------------------------------------------------------------------
.clear:after { content: ''; display: block; clear: both }
.clear { zoom: 1 }
.shy { position: absolute; left: -9999px }
.inline-block { display: inline-block; *display: inline; zoom: 1; margin-right: -4px }
